<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>
    <input type="text" id="datas">
    <input id="pass" type="password">
    <button onclick="login()">Login</button>
    <p>If new to the site Plase register an account <span><a href="http://localhost:3000/registerpage">Register</a></span></p>
    
</body>
</html>