<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <title>Register</title>
</head>
<body>
    <h1>Enter rememberable Username</h1>
    <input id="data" type="text">
    <input id="pass" type="password">
    <button onclick="register()">Register</button>
    <p>Already has an account Login <span><a href="http://localhost:3000/loginpage">Login</a></span></p>
</body>
</html>